.App {
  text-align: center;
}

:root {
  --main-bg-r : 16;
  --main-bg-g : 16;
  --main-bg-b : 16;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
    background-color: #111;
    min-height: 100vh;
}

.Card {
  background-color: rgba(255,255,255, 0.02);
  padding: 1rem;
  border-radius: 0.5rem;
}

.Card-content {
  margin-block-start: 1rem;
  border-radius: 0.5rem;
}



.Container {
  display : flex;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Store-button-hide {
  border-right: 3rem solid;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  position: sticky;
  display: flex;
  align-items: center;
  width: 2rem;
  height: 3rem;
  float: right;
  right: 0;
}

.Store {
  background-color: #F0F;
  width: 20rem;
  text-align: center;
  height: 100vh;
  position: sticky;
  float : right;
}

.Wrapper {
  transition: transform .5s;
}

.Store-hide {
  animation-name: hide;
  animation-duration: 1s;
}

.Store-show {
  animation-name: show;
  animation-duration: 1s;
}


@keyframes hide {
  from {}
  to {transform: translate(20rem)}
}

@keyframes show {
  from {}
  to {transform: translate(-20rem)}
}